.container-fluid{
    padding: 0;
}
/* navbar */
.navbar {
    border-bottom: 1px solif #333;
    margin-bottom: 20px;
}
.navbar-nav{
    margin: auto;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}
/* Lista de Tarefas */
.list-div{
    padding: 0;
}
.task-list{
    padding-left: 0;
}
.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 3px dashed #ccc;
}
.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}
.fas.fa-trash{
    color: red;
}
.fas.fa-edit{
    color: green;
}
.task-list a {
    text-decoration: none;
}

/* Botão de adicionar */

.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin-right: 25px;
}
.fas.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-right: 5px;
}
/* Search */
.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 20px;
}
.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* Roda pé */
footer {
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}
footer p{
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}